.homePageWrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: aliceblue;
  background-color: rgba(7, 76, 92, 0.826);
}

.formWrapper {
    background-color: rgba(94, 137, 148, 0.826);
    padding: 20px;
    border-radius: 50px;
    width: 400px;
    max-width: 90%;
}

footer {
    position: fixed;
    bottom: 0;
}

.inputGroup {
    display: flex;
    flex-direction: column;
}

.mainLabel {
    margin-bottom: 20px;
    margin-top: 0;
}

.homePageLogo {
    height: 80px;
    margin-bottom: 30px;
}

.inputBox {
  padding: 10px;
  border-radius: 10px;
  outline: none;
  border: none;
  margin-bottom: 14px;
  background-color: aliceblue;
  font-size: 15px;
  font-weight: bold;
}

.btn {
    border: none;
    padding: 10px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.joinBtn,
.leaveBtn {
    background-color: rgb(142, 195, 210);
    width: 100px;
    margin-left: auto;
}

.joinBtn:hover,
.leaveBtn:hover {
    background-color: rgb(154, 220, 240) ;
    border-radius: 15px;
}

.createInfo {
    margin: 0 auto;
    margin-top: 20px;
}

.createNewBtn {
    text-decoration: none;
  border-bottom: 1.5px solid;
  transition: all 0.3s ease-in-out;
}

.createNewBtn:hover
 {
    border-color: rgb(154, 220, 240) ;
}

.mainWrap {
    display: grid;
    grid-template-columns: 300px 1fr;
}

.aside {
  padding: 20px;
  background-color:rgba(94, 137, 148, 0.826);
  color: aliceblue;
  display: flex;
  flex-direction: column;
}
.asideInner {
    flex: 1;
}

.clientsList {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
    margin-bottom: 20px;
}

.client {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
}
.userName {
    margin-top: 10px;
}

.logo {
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

.logoImage {
    height: 60px;
}

.leaveBtn {
    width: 100%;
    margin-top: 25px;
}
.CodeMirror {
    min-height: calc(100vh - 20px);
    font-size: 20px;
    line-height: 1.6;
    padding-top: 20px;
    overflow: hidden;
}
.editorWrap{
    background-color:rgba(94, 137, 148, 0.826);
    height: 100vh;
  }